<header class="header" id="site-header">
    <div class="header-container container">
        <a class="header-logo" href="./#home">
            <img src="/img/header/logo.png" alt="logo" loading="lazy">
        </a>
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="0.5" y="0.5" width="23" height="23" rx="11.5" stroke="#D7BDF9" />
    <path d="M5 7H19M5 17H19M5 12H19" stroke="#444443" stroke-linecap="round" />
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#home">Home</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#about">About the Game</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#gameplay">Gameplay Mechanics</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#features">Key Features</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#gallery">Visual Gallery</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#reviews">Player Reviews</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#faq">FAQ</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#home">Home</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#about">About the Game</a></li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#gameplay">Gameplay Mechanics</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#features">Key Features</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#gallery">Visual Gallery</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#reviews">Player Reviews</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#faq">FAQ</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#contact">Contact</a>
        </li>
    </ul>
    <ul class="header-policy-navigation">
        <li class="header-policy-link">
            <a class="header-policy-underline" href="privacy.html">Privacy Policy</a>
        </li>
        <li class="header-policy-link">
            <a class="header-policy-underline" href="terms.html">Terms & Conditions</a>
        </li>
    </ul>
    <img src="/img/header/brain.png" alt="brain" loading="lazy">
</div>
