<section class="home-section" id="home">
    <div class="container home-container">
     <picture>
        <source srcset="
                        /img/home/hero-desk.png 1x,
                        /img/home/hero-desk@2x.png 2x
                          " media="(min-width: 1440px)" />
        <source srcset="
                        /img/home/hero-mob.png 1x,
                        /img/home/hero-mob@2x.png 2x
                           " media="(max-width: 1439px)" />
        <img class="home-img" src="/img/home/hero-mob.png" alt="game screen" loading="lazy" />
    </picture> 
    <div class="hero-wrapper">
        <h1 class="home-title">Think Fast.<br/>
        Guess Smart.</h1>
        <p class="hero-text">Every clue leads you closer to the word.</p>
        <a class="hero-link" href="https://play.google.com/store/apps/details?id=com.guesstheword.v1.wpg.game&hl=en&gl=us">
            <img src="/img/home/btn.png" alt="google play" loading="lazy" />
        </a>
        <img class="brain-img" src="/img/home/braine.png" alt="brain" loading="lazy">
    </div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container">
        <h2>About the Game</h2>
        <div class="about-wrapper">
            <p>Guess The Word: Puzzle Game challenges players to identify hidden words using clues, partial letters, or visual hints.
            Every puzzle's like a little mystery you've got to figure out - sometimes it's obvious, sometimes you'll be scratching
            your head for a while. Anyone can jump in and start playing, but don't worry - it gets trickier as you go so you won't
            get bored.</p>
            <img src="/img/about/abt.png" alt="About the Game" loading="lazy">
        </div>
    </div>
</section>
<section class="gameplay-section" id="gameplay">
    <div class="container">
        <h2>Gameplay Mechanics</h2>
        <ul class="gameplay-list">
            <li class="gameplay-item">
                <h3 class="gameplay-title-item">Word Discovery</h3>
                <p class="gameplay-text-item">Players analyze clues and fill in missing letters to form correct words. Each solved word unlocks the next challenge.</p>
                    <picture>
        <source srcset="
                        /img/gameplay/desk-one.png 1x,
                        /img/gameplay/desk-one@2x.png 2x
                          " media="(min-width: 1440px)" />
        <source srcset="
                        /img/gameplay/mob-one.png 1x,
                        /img/gameplay/mob-one@2x.png 2x
                           " media="(max-width: 1439px)" />
        <img src="/img/gameplay/mob-one.png" alt="game screen" loading="lazy" />
    </picture> 
            </li>
            <li class="gameplay-item">
                <h3 class="gameplay-title-item">Progressive Difficulty</h3>
                <p class="gameplay-text-item">Early levels introduce simple words, while later puzzles become more complex, requiring deeper thinking and pattern
                recognition.</p>
                <picture>
                    <source srcset="
                                    /img/gameplay/desk-two.png 1x,
                                    /img/gameplay/desk-two@2x.png 2x
                                      " media="(min-width: 1440px)" />
                    <source srcset="
                                    /img/gameplay/mob-two.png 1x,
                                    /img/gameplay/mob-two@2x.png 2x
                                       " media="(max-width: 1439px)" />
                    <img src="/img/gameplay/mob-two.png" alt="game screen" loading="lazy" />
                </picture>
            </li>
        </ul>
    </div>
</section>
<section class="features-section" id="features">
    <div class="container">
        <h2>Key Features</h2>
        <ul class="features-list">
            <li class="features-item">
                <img class="features-img" src="/img/features/one.png" alt="brain" loading="lazy">
                <p>Word-based puzzle gameplay</p>
            </li>
            <li class="features-item">
                <img class="features-img" src="/img/features/two.png" alt="brain" loading="lazy">
                <p>Gradually increasing difficulty</p>
            </li>
            <li class="features-item">
                <img class="features-img" src="/img/features/three.png" alt="brain" loading="lazy">
                <p>Clear and readable interface</p>
            </li>
            <li class="features-item">
                <img class="features-img" src="/img/features/four.png" alt="brain" loading="lazy">
                <p>Short, engaging levels</p>
            </li>
            <li class="features-item">
                <img class="features-img" src="/img/features/five.png" alt="brain" loading="lazy">
                <p>Suitable for all skill levels</p>
            </li>
        </ul>
    </div>
</section>
<section class="gallery-section" id="gallery">
    <div class="container gallery-container">
        <h2>Visual Gallery</h2>
<div class="swiper gallery-swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="/img/gallery/one.png" alt="game screenshot" loading="lazy">
        </div>
        <div class="swiper-slide">
            <img src="/img/gallery/two.png" alt="game screenshot" loading="lazy">
        </div>
        <div class="swiper-slide">
            <img src="/img/gallery/three.png" alt="game screenshot" loading="lazy">
        </div>
        <div class="swiper-slide">
            <img src="/img/gallery/four.png" alt="game screenshot" loading="lazy">
        </div>
        <div class="swiper-slide big">
            <img src="/img/gallery/five.png" alt="game screenshot" loading="lazy">
        </div>
        <div class="swiper-slide big">
            <img src="/img/gallery/six.png" alt="game screenshot" loading="lazy">
        </div>
        <div class="swiper-slide big">
            <img src="/img/gallery/seven.png" alt="game screenshot" loading="lazy">
        </div>
        <div class="swiper-slide big">
            <img src="/img/gallery/eight.png" alt="game screenshot" loading="lazy">
        </div>
    </div>
</div>
<div class="gallery-prev btn">
    <img src="/img/gallery/chevron-left.png" alt="prev" loading="lazy">
</div>
<div class="gallery-next btn">
    <img src="/img/gallery/chevron-right.png" alt="next" loading="lazy">
</div>
    </div>
</section>