body{
  background: #fefefe;
  font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #444443;
}
h2{
  font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    color: #444443;
    margin-bottom: 48px;
}