.brain-img{
    display: none;
}
.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 32px;
}
.home-img{
    margin-top: 30px;
}
.hero-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-title{
font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    color: #444443;
    margin-bottom: 32px;
}
.hero-text{
    font-size: 24px;
    width: 293px;
    margin-bottom: 64px;
}
.hero-link{
    border: 1px solid #c495f5;
        border-radius: 12px;
        width: 280px;
        height: 72px;
box-shadow: 1px 2px 2px 0 rgba(136, 136, 135, 0.7);
    background: linear-gradient(180deg, #d7bdf9 0%, #b89cf5 100%);
    display: flex;
    align-items: center;
    justify-content: center;
transition: background 0.3s ease-in-out;
}
.hero-link:hover,
.hero-link:focus{
background: linear-gradient(180deg, #d7bdf9 0%, #c495f5 100%);
}
@media only screen and (min-width: 1440px) {
  .home-section{
    background-image: url("/img/home/desk.png");
  }
  .home-container{
    flex-direction: row-reverse;
    padding-top: 150px;
    gap: 80px;
    justify-content: center;
  }
  .hero-wrapper{
    position: relative;
    width: 454px;
    align-items: start;
  }
  .home-title{
    font-size: 64px;
    text-align: left;
  }
  .hero-text{
    width: 100%;
    font-size: 24px;
  }
  .brain-img{
    position: absolute;
    display: block;
    bottom: -9%;
    right: -4%;
  }
  .home-img{
    margin-top: 0;
  }
}
/* About the Game */
.about-section{
    background-image: url("/img/about/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.about-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
@media only screen and (min-width: 1440px) {
.about-section {
        background-image: url("/img/about/desk.png");
    }
.about-wrapper{
    flex-direction: row-reverse;
    justify-content: center;
    gap: 40px;
}
.about-wrapper p{
width: 495px;
text-align: left;
}
}
/* Gameplay Mechanics */
.gameplay-section{
    background-image: url("/img/gameplay/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.gameplay-list{
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 32px;
}
.gameplay-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
border-radius: 8px;
    padding: 32px;
    width: 343px;
    height: 460px;
background: #9173b9;
}
.gameplay-title-item{
font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #fefefe;
}
.gameplay-text-item{
    color: #fefefe;
}
@media only screen and (min-width: 1440px) {
.gameplay-section {
        background-image: url("/img/gameplay/desk.png");
    }
.gameplay-list{
    flex-direction: row;
    justify-content: center;
    gap: 64px;
}
.gameplay-item{
    width: 414px;
    height: 486px;
}
}
/* Key Features */
.features-section{
background: #eae5f0;
}
.features-list{
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 16px;
 }
.features-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
border: 1px solid #9173b9;
    border-radius: 8px;
    padding: 8px;
    width: 343px;
    height: 116px;
background: #fefefe;
}
.features-img{
    width: 100px;
    height: 100px;
}
.features-item:nth-child(even) {
    flex-direction: row-reverse;
}
@media only screen and (min-width: 1440px) {
 .features-list{
    flex-direction: row;
    justify-content: center;
    gap: 32px;
 }
 .features-item{
    flex-direction: column;
    padding: 32px 30px;
        width: 210px;
        height: 264px;
 }
 .features-item:nth-child(even) {
     flex-direction:column;
 }
}
/* Visual Gallery */

.btn {
    display: none;
}
.gallery-swiper .big{
    display: none;
}

@media only screen and (min-width: 1440px) {
    .gallery-container {
        position: relative;
    }

    .btn {
        display: block;
        border-radius: 100px;
        border: none;
        background: linear-gradient(180deg, #d7bdf9 0%, #b89cf5 100%);
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: background 0.3s ease-in-out;
    }
.btn:hover{
background: linear-gradient(180deg, #d7bdf9 0%, #c495f5 100%);
}
    .gallery-swiper {
        width: 1030px;
        margin-left: auto;
        margin-right: auto;

    }

    .gallery-next {
        right: 8%;
        z-index: 2;
    }

    .gallery-prev {
        left: 8%;
        z-index: 2;
    }
.gallery-swiper .swiper-slide {
    width: 281px !important;

}
.gallery-swiper .big {
    display: flex;
    width: 889px !important;
    height: auto;
}

}
/* Player Reviews */
.reviews-section{
    background-image: url("/img/reviews/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.reviews-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.reviews-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border: 1px solid #fefefe;
        border-radius: 8px;
        padding: 16px;
        width: 320px;
        height: auto;
background: #9173b9;
}
.reviews-text{
    font-size: 12px;
    color: #fefefe;
    text-align: left;
}
.reviews-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.author{
    font-weight: 700;
    font-size: 12px;
    color: #fefefe;
}
@media only screen and (min-width: 1440px) {
    .reviews-section{
    background-image: url("/img/reviews/desk.png");
    }
 .reviews-list{
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 32px;
 }
 .reviews-item{
    padding: 15px;
        width: 200px;
 }
}
/* FAQ */
.faq-title {
    background-size: 300px auto;
}

.faq-acc {
    display: flex;
    flex-direction: column;
    width: 343px;
    margin: 0 auto;
    gap: 12px;

}

.faq-acc-el {
    position: relative;
    transition: margin-bottom 0.3s ease;
}

.faq-acc-el-title {
    margin-bottom: 0;
}

.faq-acc-el-trigger {
    border: none;
    background: inherit;
    width: 343px;
    height: auto;
font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: #444443;
    border-bottom: 2px solid #eae5f0;
    padding: 8px 0;
    margin-bottom: 0;
    cursor: pointer;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


.faq-acc-arr {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    transition: transform 0.3s ease;
    width: 24px;
    height: 24px;
    border: none;
    background-color: inherit;
    border-radius: 100%;
}

.faq-acc-arr.is-hidden {
    display: none;
}

.faq-acc-el.open .faq-acc-arr {
    transform: rotate(180deg);
}

.faq-acc-el-descr-frame {
    background: inherit;
    width: 343px;

    text-align: left;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, border-bottom 0.3s ease;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
    visibility: hidden;
}


.faq-acc-el.open .faq-acc-el-descr-frame {
    visibility: visible;
    opacity: 1;
    border: none;
    padding: 8px;
    background: inherit;
    width: 343px;
    max-height: 500px;
}

@media only screen and (min-width: 1440px) {
    .faq-title {
        background-size: 1140px auto;
    }

    .faq-acc {
        width: 994px;
        margin: 0 auto;
        gap: 16px;
    }

    .faq-acc-el-trigger {
        width: 994px;
    }

    .faq-acc-el-descr-frame {
        width: 994px;
    }

    .faq-acc-el.open .faq-acc-el-descr-frame {
        width: 994px;
    }

    .mob {
        display: none;
    }
}